<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="nav-bar">
        <nav class="nav-list">
            <a href="{{ url_for('home') }}">home</a>
            <a href="{{ url_for('base') }}">base</a>
            <a href="">privesy</a>
        </nav>
        <nav class="nav-login-menu">
            <a href="">login</a>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>